@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?6ggedy');
	src:url('../fonts/icomoon.eot?#iefix6ggedy') format('embedded-opentype'),
		url('../fonts/icomoon.woff?6ggedy') format('woff'),
		url('../fonts/icomoon.ttf?6ggedy') format('truetype'),
		url('../fonts/icomoon.svg?6ggedy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}