[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dazed:before {
  content: "\e6001";
}

.icon-confuzed:before {
  content: "\e6002";
}

.icon-question:before {
  content: "\e6003";
}

.icon-laugh:before {
  content: "\e6004";
}

.icon-more:before {
  content: "\e6005";
}

.icon-lightning:before {
  content: "\e5000";
}

.icon-cloud:before {
  content: "\e5001";
}

.icon-flag:before {
  content: "\e4000";
}

.icon-bookmark:before {
  content: "\e4001";
}

.icon-cancel-circle:before {
  content: "\e3001";
}

.icon-checkmark-circle:before {
  content: "\e3000";
}

.icon-arrow-right:before {
  content: "\e3002";
}

.icon-arrow-down:before {
  content: "\e3003";
}

.icon-arrow-left:before {
  content: "\e3004";
}

.icon-arrow-fat-right:before {
  content: "\e3005";
}

.icon-arrow-medium-right:before {
  content: "\e3006";
}

.icon-arrow-sharp-right:before {
  content: "\e3007";
}

.icon-arrow-fat-down:before {
  content: "\e3008";
}

.icon-arrow-medium-down:before {
  content: "\e3009";
}

.icon-arrow-sharp-down:before {
  content: "\e3010";
}

.icon-quick-arrow-right:before {
  content: "\e3011";
}

.icon-quick-arrow-down:before {
  content: "\e3012";
}
